.image{
    border: 2px solid #a5a5a5;
    width: 70%; /* Set default width to 300 pixels */
    height: auto;
    margin-bottom: 2%;
    /* margin-top: 20%; */
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.image img{
    max-width: 100%;
    max-height: 100%;
}
