html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.main {
    display: flex;
    height: 80vh;
}
.right{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
}
.image-container{
  width: 30vw; 
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.5); /* Translucent white */
  border: 3px dashed rgb(62, 56, 56);

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
button{
    margin-right: 20px;
    border: none;
    background: green;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  .inputTag[type="file"] {
    color: transparent;
  }

  .selectingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selectionImage{
    border: black 2px solid;
    margin: 10px 0px;
    height: 20%;
    width: 60%;
  }

  .pageContainer{
    display: flex;
  }
  .image-container-selector{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .image-container-selector img{
   border: 3px dashed rgb(62, 56, 56);
   width: 30vw; 
   height: 30vw;
  }