

.mainContainer {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainContainer {
  height: 90vh;
  position: relative; /* Ensure proper positioning of background image */
}

.bkgimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: grayscale(100%);
  z-index: -1;
  opacity: 0.2;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Adjust height as needed */
}

.ProcessedImageRow {
  overflow: scroll;
  width: 42%;
  display: inline-table;
  border-right: 1px solid #ccc;
}

.inputImageRow {
  width: 42%;
  border-right: 1px solid #ccc;
}

.leftNavRow {
  overflow: scroll;
  width: 14%;
}

.buttonsPrevNext {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.headingLeft {
  color: #00033B;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: larger;
  font-weight: bold;
}

.headingCenter {
  color: #00033B;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 5%;
  font-size: x-large;
  font-weight: bold;
}

.ProcessedImageRow button,
.buttonsPrevNext button {
  border: none;
}


.buttonWithLabels{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.labelButtons{
  font-size: large;
}